
<section id="footer" class="section footer">
    <div class="container">
        <div class="row animated opacity mar-bot20 mar-top20" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-12 align-center">
                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/Connaisa-247946152284475" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/connaisaco" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/connaisa" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row align-center copyright">
            <div class="col-sm-12">
                <p>Copyright &copy; Amoeba</p>
            </div>
        </div>
    </div>
</section>
